:root {
  --bg-color: #e5e5e5;
  --bg-color-header: #cf2b2b;

  --font-title: "Righteous", cursive;
  --font-generic: "Roboto", sans-serif;
  --color-font: #333333;
  --color-description: #a6a6a6;
  --color-price: black;
  --color-font-header: white;
  --color-selected: #32B72F;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

header,
main > section,
.close-order {
  width: 100%;
}

main {
  margin-top: 97px;
  margin-bottom: 92px;
  padding: 32px 0px 12px 21px;
}

main > section {
  margin-bottom: 26px;
}

main > section:last-child {
  margin-bottom: 0;
}

main > section > h2 {
  color: var(--color-font);
  font-size: 1.625rem;
  font-family: var(--font-title);
  line-height: 2rem;

  margin-bottom: 17px;
}

main > section > .options {
  display: flex;
  align-items: flex-start;

  overflow-x: scroll;
  scrollbar-width: none;
}

.confirm-order {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0 18px;
  height: 100%;
  width: 100%;

  text-align: center;
  background-color: rgba(255,255,255,0.9);

  z-index: 9999;
}

.confirm-order--show {
  display: flex;
  align-items: center;
}

.confirm-order * {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  line-height: 1.625rem;
}

.confirm-order-card {
  background-color: #50D074;
  
  border-radius: 9px;
  padding: 0 24px;
  padding-top: 21px;

  width: 100%;
}

.confirm-order h3{
  font-weight: 700;
  margin-bottom: 28px;
}

.order-item, .total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 13px;
}

.confirm-order .total-price {
  font-weight: 700;
  margin-bottom: 24px;
}

.confirm-order-btn:hover, .cancel-order-btn:hover {
  cursor: pointer;
}

.confirm-order-btn {
  background-color: white;
  color: #50D074;

  border: 0px;
  border-radius: 100px;
  height: 52px;
  width: 100%;
}

.cancel-order-btn {
  background-color: #50D074;
  color: white;

  border: 0px;
  border-radius: 100px;
  height: 52px;
  width: 100%;
}