.close-order {
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: white;
  height: 92px;
  padding: 15px 24px;
}

.close-order button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #cbcbcb;
  border: 0px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  padding: 0 80px;

  color: white;
  font-family: var(--font-generic);
  font-size: 1.25rem;
  line-height: 1.5rem;
  word-wrap: break-word;
}

@media (max-width: 392px) {
    .close-order button {
        padding: 0 70px;
    }
}

@media (max-width: 372px) {
    .close-order button {
        padding: 0 50px;
    }
}