.header-page {
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--bg-color-header);
  color: var(--color-font-header);
  padding: 8px 21px 0 21px;

  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 5000;
}

.header-page h1 {
  font-size: 2.75rem;
  line-height: 3.44rem;
  font-family: var(--font-title);
}

.header-page p {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: var(--font-generic);

  margin-top: -6px;
  margin-bottom: 18px;
}
